Welcome to exercise three of “Apache Spark for Scalable Machine Learning on BigData”. In this exercise you’ll create a DataFrame, register a temporary query table and issue SQL commands against it. 

Let’s create a little data frame:

In [2]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'), Row(id=2, value='value2')])
df.show()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

In [3]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

Now we register this DataFrame as query table and issue an SQL statement against it. Please note that the result of the SQL execution returns a new DataFrame we can work with.

In [9]:
# register dataframe as query table
df.createOrReplaceTempView('df_view')

# execute sql query
df_result = spark.sql('select * from df_view limit 2')

# show
df_result.show()

# get result as string
df_result.first()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

Row(id=1, value='value1')

**createorReplaceTempView** is used when you want to store the table for a particular spark session.

createOrReplaceTempView creates (or replaces if that view name already exists) a lazily evaluated "view" that you can then use like a hive table in Spark SQL. It does not persist to memory unless you cache the dataset that underpins the view.

In [10]:
df_result.first()['value']

'value1'

Although we’ll learn more about DataFrames next week, please try to find a way to count the rows in this DataFrame by looking at the API documentation. No worries, we’ll cover DataFrames in more detail next week.

https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [8]:
df.count()

2